.popup__button-close {
  display: block;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url('../../../Images/Close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  opacity: .6;
  transition: 1s ease;
}
